* {
	font-family: 'Cabin',sans-serif;
	margin: 0px;
	padding: 0px;
}
body {
	background: #ecf0f1;
}
header {
	background: #33363b;
	height: 80px;
	width: 100%;
}

a {
	text-decoration: none;
}
form input#rango {
	width: 98%;
}
form {

}
input[type="radio"] {
    -webkit-appearance: none;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 -15px 10px -12px rgba(0,0,0,0.05);
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 8px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
}
 
input[type="radio"]:checked{
    background-color: #ededed;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0 0 10px rgba(0,0,0,0.1);
}
input[type=number] {
    height: 20px;
    line-height: 30px;
    font-size: 16px;
    padding: 0 0px;
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    cursor:pointer;
    display:block;
    width:8px;
    color: #333;
    text-align:center;
    position:relative;
}    
input[type=number]:hover::-webkit-inner-spin-button { 
    background: #eee url('http://i.stack.imgur.com/YYySO.png') no-repeat 50% 50%;  
    width: 14px;
    height: 14px;
    padding: 4px;
    position: relative;
    right: 4px;
    border-radius: 28px;
}
#headerBo {
	background: #26272b;
	height: 5px;
	margin-bottom: 10px;
	width: 100%;
}
#contenedor {
	margin: auto;
	width: 90%;
}
#opciones {
	background: #383838;
	margin: center;
	width: 49%;
	min-height: 393px;
	display: inline;
	float: left;
}
#imagen {
	background: #2c3e50;
	width: 49%;
	min-height: 393px;
	display: inline;
	float: right;
}
.flex-container {
	background: white;
	color: white;
	display: flex;
	justify-content: space-around;
}
.flex-container-header {
	color: white;
	display: flex;
}
.flex-item-header {
	margin: 10px;
	padding-top: 10px;
}
.flex-container-header img {
	width: 200px;
}
.flex-item {
	background-color: #3498db;
	margin: 10px;
	padding: 10px;
	text-align: center;
	width: 100%;
	box-shadow:inset 0px -4px 0px 0px #217dbb;
    -moz-box-shadow:inset 0px -4px 0px 0px #217dbb;
    -webkit-box-shadow:inset 0px -4px 0px 0px #217dbb;
    border-radius: 3px;
}

.flex-item2 {
	/*background-color: #3498db;*/
	height: 59px;
	margin: 10px;
	padding: 10px;
	width: 100%;
}
.flex-item3 {
	background-color: #3498db;
	height: 20px;
	margin: 10px;
	padding: 10px;
	width: 100%;
	box-shadow:inset 0px -4px 0px 0px #217dbb;
    -moz-box-shadow:inset 0px -4px 0px 0px #217dbb;
    -webkit-box-shadow:inset 0px -4px 0px 0px #217dbb;
    border-radius: 3px;
}
.flex-container4 {
	background: #7f8c8d;
	color: white;
	display: flex;
	justify-content: flex-end;
	ms-flex-pack: end;
	padding-right: 14px;
	webkit-justify-content: flex-end;
}
.flex-item4 {
	background-color: #3b5998;
	height: 19px;
	margin: 5px;
	padding: 10px;
	width: 20px;
	box-shadow:inset 0px -4px 0px 0px #2d4373;
    -moz-box-shadow:inset 0px -4px 0px 0px #2d4373;
    -webkit-box-shadow:inset 0px -4px 0px 0px #2d4373;
    border-radius: 3px;
}
.flex-item5 {
	background-color: #3b8dbd;
	height: 19px;
	margin: 5px;
	padding: 10px;
	width: 20px;
	box-shadow:inset 0px -4px 0px 0px #2f7096;
    -moz-box-shadow:inset 0px -4px 0px 0px #2f7096;
    -webkit-box-shadow:inset 0px -4px 0px 0px #2f7096;
    border-radius: 3px;
}
.flex-item6 {
	background-color: #DF013A;
	height: 19px;
	margin: 5px;
	padding: 10px;
	width: 20px;
	box-shadow:inset 0px -4px 0px 0px #ac012d;
    -moz-box-shadow:inset 0px -4px 0px 0px #ac012d;
    -webkit-box-shadow:inset 0px -4px 0px 0px #ac012d;
    border-radius: 3px;
}
#imgCuerpo {
	background: #95a5a6;
	padding: 10px;
	min-height: 320px;
}
#imgContenedor {
	
	padding: 10px;
}
#imgContenedor img {
	width: 100%;
	max-height:300px;
}
#color {
	/* background: url(../IMG/rochesterday-280.png); */
	cursor: pointer;
}
#gris {
	/* background: url(../IMG/rochesterday-bn-280.png); */
	cursor: pointer;
}
#facebook,#twitter,#codigoc {
	color: #fff;
	font-size: 20px;
}
#comentarios {
	margin-top: 10px;
	width: width:90%;
}
#coment {
	padding: 10px;
}
.radio-toolbar input[type="radio"] {
	display: none;
}
.radio-toolbar label {
	display: inline-block;
	padding: 4px 11px;
}
#titulo {
	background: #1C1C1C;
	color: white;
	padding: 5px;
    margin-left: 10px;
    margin-top: -31px;
    position: absolute;
    z-index: 1;
    opacity: 2;
}

label{
	cursor: pointer;
}

input[type="radio"] {
	display: none;
}

#lColor,#lGris{
	width: 100%;
    height: 80px;
    margin-bottom: 12px;
    box-shadow:inset 0px -6px 18px -5px #000000;
    -moz-box-shadow:inset 0px -6px 18px -5px #000000;
    -webkit-box-shadow:inset 0px -6px 18px -5px #000000;
    border-radius: 3px;
}

#lColor{
	background: url(../IMG/rochesterday-280.png);
	margin-right: 10px;
	margin-left: 10px;
}

#lGris{
	background: url(../IMG/rochesterday-bn-280.png);
    margin-left: 10px;
    margin-right: 10px;
}

label #cb,#cb2{
	display: none;

}

/*VERSION MOVIL*/
@media only screen  and (max-width: 800px) {    
    #contenedor {
		width: 100%;
    }
	#opciones {
		width: 100%;
		display: block;
		float: none;
    }
    #imagen {
		width: 100%;
		display: block;
		float: none;
    }
    #titulo {
	    max-width: 300px;
    }
    label{
		width: 28%;
    }
}

@media only screen  and (max-width: 430px) {    
    label{
		width: 23%;
		height: 20%;
    }
}
/*VERSION MOVIL*/