* {
	font-family: 'Cabin',sans-serif;
	margin: 0px;
	padding: 0px;
}
body {
	background: #ecf0f1;
}
header {
	background: #33363b;
	height: 80px;
	width: 100%;
}

a {
	text-decoration: none;
}
form input#rango {
	width: 99%;
	border-radius: 2px;
	border: none;
	height: 25px;
	margin-top: -15px;
	font-size: 18px;
	color: #1C1C1C;
	padding-left: 5px;
}

h1{
	color: white;
    font-size: 40px;
}

header p{
	    color: white;
    margin-top: -10px;
    margin-left: 7px;
}

figure{
	margin-top: -10px;
}

h3{
	color: white;
	padding: 10px;
}

#botones h3{
      text-shadow: black 0.1em 0.1em 0.2em;
}

/* Generador de imagenes */

#genImagenes h3{
	padding: 10px;
	display: inline-block;
}

#genImagenes p{
	display: inline-block;
	background: #848484;
	padding-left: 2px;
	padding-right: 4px;
	margin-top: -1px;
	margin-bottom: -1px;
}

#genImagenes{
	width: 100%;
	background: #1e1e1e;
	overflow: hidden;
	height: 105px;
	transition: height .4s;
    box-shadow:0px 3px 8px 0px #a0a0a0;
    -moz-box-shadow:0px 3px 8px 0px #a0a0a0;
    -webkit-box-shadow:0px 3px 8px 0px #a0a0a0;
}

#genImagenes span{
	color: white;
	float: right;
	padding: 8px;
	font-size: 25px;
	transition: color .4s;
	cursor: pointer;

}

#genImagenes span:hover{
    color: #de5233;
}

#openGen{
	color: white;
	float: right;
	padding: 10px;
	font-size: 20px;
	transition: color .4s;
	cursor: pointer;

}

#openGen:hover{
    color: #de5233;
}

.flex-itemgenimage {
	background-color: #de5233;
	margin: 10px;
	padding: 10px;
	text-align: center;
	width: 100%;
	box-shadow:inset 0px -4px 0px 0px #bf3c1f;
    -moz-box-shadow:inset 0px -4px 0px 0px #bf3c1f;
    -webkit-box-shadow:inset 0px -4px 0px 0px #bf3c1f;
    border-radius: 3px;
}

.flex-containergenimage {
	color: white;
	display: flex;
	justify-content: space-around;
}

#lorem{
	background: #a9351b;
}

/* Generador de imagenes */
input[type="radio"] {
    -webkit-appearance: none;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 -15px 10px -12px rgba(0,0,0,0.05);
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 8px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
}
 
input[type="radio"]:checked{
    background-color: #ededed;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0 0 10px rgba(0,0,0,0.1);
}
input[type=number] {
    height: 20px;
    line-height: 30px;
    font-size: 16px;
    padding: 0 0px;
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    cursor:pointer;
    display:block;
    width:8px;
    color: #333;
    text-align:center;
    position:relative;
}    
input[type=number]:hover::-webkit-inner-spin-button { 
    background: #eee url('http://i.stack.imgur.com/YYySO.png') no-repeat 50% 50%;  
    width: 14px;
    height: 14px;
    padding: 4px;
    position: relative;
    right: 4px;
    border-radius: 28px;
}
#headerBo {
	background: #26272b;
	height: 5px;
	margin-bottom: 10px;
	width: 100%;
}
#contenedor {
	margin: auto;
	width: 100%;
	max-width: 1200px;
}
#opciones {
	background: #383838;
	margin: center;
	width: 49%;
	min-height: 393px;
	display: inline;
	float: left;
	box-shadow:0px 0px 4px -1px #000000;
-moz-box-shadow:0px 0px 4px -1px #000000;
-webkit-box-shadow:0px 0px 4px -1px #000000;
}
#imagen {
	background: #2c3e50;
	width: 49%;
	min-height: 393px;
	display: inline;
	float: right;
	box-shadow:0px 0px 4px -1px #000000;
-moz-box-shadow:0px 0px 4px -1px #000000;
-webkit-box-shadow:0px 0px 4px -1px #000000;
}
.flex-container {
	background: white;
	color: white;
	display: flex;
	justify-content: space-around;
}
.flex-container-header {
	color: white;
	display: flex;
}
.flex-item-header {
	margin: 10px;
	padding-top: 10px;
}
.flex-container-header img {
	width: 200px;
}
.flex-item {
	background: #3498db;
	margin: 10px;
	padding: 10px;
	text-align: center;
	width: 100%;
	box-shadow:inset 0px -4px 0px 0px #217dbb;
    -moz-box-shadow:inset 0px -4px 0px 0px #217dbb;
    -webkit-box-shadow:inset 0px -4px 0px 0px #217dbb;
    border-radius: 3px;
    transition: background .4s;
}

.flex-item:hover {
	background: #16527a;
	
}

.flex-item2 {
	/*background-color: #3498db;*/
	height: 59px;
	margin: 10px;
	padding: 10px;
	width: 100%;
}
.flex-item3 {
	background-color: #3498db;
	height: 20px;
	margin: 10px;
	padding: 10px;
	width: 100%;
	box-shadow:inset 0px -4px 0px 0px #217dbb;
    -moz-box-shadow:inset 0px -4px 0px 0px #217dbb;
    -webkit-box-shadow:inset 0px -4px 0px 0px #217dbb;
    border-radius: 3px;
}
.flex-container4 {
	background: #7f8c8d;
	color: white;
	display: flex;
	justify-content: flex-end;
	ms-flex-pack: end;
	padding-right: 14px;
	webkit-justify-content: flex-end;
}
.flex-item4 {
	background-color: #3b5998;
	height: 19px;
	margin: 5px;
	padding: 10px;
	width: 20px;
	box-shadow:inset 0px -4px 0px 0px #2d4373;
    -moz-box-shadow:inset 0px -4px 0px 0px #2d4373;
    -webkit-box-shadow:inset 0px -4px 0px 0px #2d4373;
    border-radius: 3px;
}
.flex-item5 {
	background-color: #3b8dbd;
	height: 19px;
	margin: 5px;
	padding: 10px;
	width: 20px;
	box-shadow:inset 0px -4px 0px 0px #2f7096;
    -moz-box-shadow:inset 0px -4px 0px 0px #2f7096;
    -webkit-box-shadow:inset 0px -4px 0px 0px #2f7096;
    border-radius: 3px;
}
.flex-item6 {
	background-color: #DF013A;
	height: 19px;
	margin: 5px;
	padding: 10px;
	width: 20px;
	box-shadow:inset 0px -4px 0px 0px #ac012d;
    -moz-box-shadow:inset 0px -4px 0px 0px #ac012d;
    -webkit-box-shadow:inset 0px -4px 0px 0px #ac012d;
    border-radius: 3px;
}
#imgCuerpo {
	background: #95a5a6;
	padding: 10px;
	min-height: 320px;
	overflow: hidden;
}
#imgContenedor {
	
	padding: 10px;
}
#imgContenedor img {
	width: 100%;
	max-height:300px;
}
#color {
	/* background: url(../IMG/rochesterday-280.png); */
	cursor: pointer;
}
#gris {
	/* background: url(../IMG/rochesterday-bn-280.png); */
	cursor: pointer;
	width: 80%;
}
#facebook,#twitter,#codigoc {
	color: #fff;
	font-size: 20px;
}
#comentarios {
	margin-top: 10px;
	width: width:90%;
}
#coment {
	padding: 10px;
}
.radio-toolbar input[type="radio"] {
	display: none;
}
.radio-toolbar label {
	display: inline-block;
	padding: 4px 11px;
}
#titulo {
	background: #1C1C1C;
	color: white;
	padding: 5px;
    margin-left: 10px;
    margin-top: -60px;
    position: absolute;
}

#url {
	background: #292929;
	color: white;
	padding: 5px;
    margin-left: 10px;
    margin-top: -31px;
    position: absolute;
    font-size: 12px;
    max-width: 400px;
}

label{
	cursor: pointer;
}

input[type="radio"] {
	display: none;
}

#lColor,#lGris{
	width: 100%;
    height: 80px;
    margin-bottom: 12px;
    box-shadow:inset 0px -6px 18px -5px #000000;
    -moz-box-shadow:inset 0px -6px 18px -5px #000000;
    -webkit-box-shadow:inset 0px -6px 18px -5px #000000;
    border-radius: 3px;
}

#lColor:hover,#lGris:hover{
	opacity: .7;
}

#lColor{
	background: url(../IMG/rochesterday-280.png);
	margin-right: 10px;
	margin-left: 10px;
}

#lGris{
	background: url(../IMG/rochesterday-bn-280.png);
    margin-left: 10px;
    margin-right: 10px;
}

label #cb,#cb2{
	display: none;

}

#opT1,#opT2,#opT3,#opT4{
	display: none;
}

#opT3,#opT4{
	background: none;
	color: black;
	margin-right: -11px;
	box-shadow:inset 0px 0px 0px 0px #217dbb;
    -moz-box-shadow:inset 0px 0px 0px 0px #217dbb;
    -webkit-box-shadow:inset 0px 0px 0px 0px #217dbb;
}


/*VERSION MOVIL*/
@media only screen  and (max-width: 800px) {    
    #contenedor {
		width: 100%;
    }
	#opciones {
		width: 100%;
		display: block;
		float: none;
    }
    #imagen {
		width: 100%;
		display: block;
		float: none;
		min-height: 200px;
    }
    #imgCuerpo{
    	min-height: 200px;
    }
    #titulo {
	    max-width: 300px;
	    font-size: 12px; 
	    margin-top: -55px;   
    }
    #ulr{
    	font-size: 10px;
    }
    label{
		width: 28%;
    }
}

@media only screen  and (max-width: 430px) {    
    label{
		width: 23%;
		height: 20%;
    }
    .flex-item{
    	height: 40px;
    }
}
/*VERSION MOVIL*/

